@page "/statset"
@using System.Threading
@using GgStatAggregator.Models
@using System.ComponentModel.DataAnnotations
@using System.Reflection

<PageTitle>Stat Aggregator</PageTitle>

<EditForm @ref="EditForm" Model="@Form" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
        <MudGrid Spacing="12" Class="mt-16">
            <MudItem xs="7">
                <MudText Typo="Typo.h5" GutterBottom="true">Player Stats</MudText>
                <MudGrid>
                    <MudItem xs="4">
                        <MudSelect T="Stake" For="@(() => Form.SelectedStake)" @bind-Value="Form.SelectedStake" Label="Stake" Disabled="@_isFormDisabled">
                            @foreach (var stake in Enum.GetValues<Stake>().Cast<Stake>())
                            {
                                <MudSelectItem Value="@stake">@stake</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="4">
                        <MudNumericField @ref="TableNumericField" For="@(() => Form.SelectedTableNumber)" @bind-Value="Form.SelectedTableNumber" Label="Table #" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="9">
                        <MudAutocomplete T="string"
                                         @ref="PlayerAutocomplete"
                                         Label="Player Name"
                                         For="@(() => Form.SelectedName)"
                                         @bind-Value="Form.SelectedName"
                                         OnKeyDown="@HandleKeyDownAsync"
                                         SearchFunc="@SearchNamesAsync"
                                         ToStringFunc="@(x => x)"
                                         Clearable="true"
                                         ResetValueOnEmptyText="true"
                                         CoerceText="false"
                                         CoerceValue="true"
                                         AdornmentIcon="@Icons.Material.Filled.Search"
                                         AdornmentColor="Color.Primary"
                                         Disabled="@_isFormDisabled">
                            <ProgressIndicatorInPopoverTemplate>
                                <MudList T="string" ReadOnly>
                                    <MudListItem>
                                        Loading...
                                    </MudListItem>
                                </MudList>
                            </ProgressIndicatorInPopoverTemplate>
                        </MudAutocomplete>
                    </MudItem>
                    <MudItem xs="3">
                        <MudNumericField @ref="HandNumericField" For="@(() => Form.Hands)" @bind-Value="Form.Hands" Label="Hands" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudNumericField For="@(() => Form.Vpip)" @bind-Value="Form.Vpip" Label="VPIP" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudNumericField For="@(() => Form.Pfr)" @bind-Value="Form.Pfr" Label="PFR" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudNumericField For="@(() => Form.Steal)" @bind-Value="Form.Steal" Label="ATS" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudNumericField For="@(() => Form.ThreeBet)" @bind-Value="Form.ThreeBet" Label="3bet" HideSpinButtons="true" Disabled="@_isFormDisabled" />
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudButton OnClick="@BeforeSubmit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="mt-8" Disabled="@_isFormDisabled">Submit</MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem xs="5">
                <MudText Typo="Typo.h5" GutterBottom="true">Notes</MudText>
                <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                    <MudText WhiteSpace="WhiteSpace.PreWrap">
                        <pre>@Form.PlayerNote</pre>
                    </MudText>
                    <div class="mt-auto">
                        <MudDivider />
                        <div class="d-flex pa-4 justify-end">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" OnClick="@EnableForm" />
                            <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" Color="Color.Primary" OnClick="@CopyPlayerNote" />
                        </div>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>    
</EditForm>